  .nav-header{
    height : rule(7);
    .navbrand {
      float : left;
      // margin-top : rule(1);
    }
    //background-color : #f8f8f8;
  }

 .navbar-nav {
   float: right;
   display: inline-block;

   .nav-link {
     display: inline-block;
     margin-right: rule(1);
     padding: rule(2) 0;
   }
 }
